.App {
  text-align: center;
  margin-top: 20px;
  position:relative;
}

.App-logo {
  height: 40vmin;
  /* pointer-events: none; */
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 30px;
  font-size: calc(30px + 2vmin);
  color: black;
  font-family:monospace;
  font-variant: small-caps;
}

.Title {
  margin: 0;
}

#videobg{
  z-index: -1;
  top:-50px;
  left:0px;
  min-width: fit-content;
  min-height: fit-content;
  margin:0;
  position: fixed;
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
